
table, th, td {
  border: 1px solid rgb(12, 12, 180);
  border-collapse: collapse;
  text-align: center;
  padding: 10px;
}

th {
  background-color: aqua;
}

h1 {
  color: pink;
}

.num {
  color: aquamarine;
  font-weight: bolder;
  font-style: italic;
}