body {
  text-align: center;
}

h1 {
  color:blue;
}

#frame {
  background-color: white;
  border-radius: 15px;
  width: 500px;
  border: 1px solid #777;
  margin: auto;
  padding: 30px;
}

#btn {
  background-color: blueviolet;
  color: blanchedalmond;
  border: 0px;
  padding: 5px;
}

#result {
  background-color: orange;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}